{% extends "layout.jinja2" %}

{% block content %}
  {% raw %}
  <div id="main">
    <div class="row form-group new-task-block">

      <div class="col-md-6 task-input">
        <input v-model="new_task_text" type="text" placeholder="Yout task" class="form-control input-md shw-ts">
      </div>

      <div class="col-md-6 btn-group-flex">

        <button v-on:click="add_new_task()" class="btn btn-primary btn-lg btn-add">
          <p>Добавить</p>
        </button>

        <button v-on:click="clear_field()" class="btn btn-primary btn-lg btn-clear">
          <p>Стереть</p>
        </button>

      </div>
    </div>
    <div class="row">
      <div class="col-md-8 shw-ts task-list">
        <div v-for="task in tasks">

          <div v-if="task[1]===true" class="task-item inactive btn-group-toggle" data-toggle="buttons">
            <button v-on:click="update_state(task)" class="btn btn-check active"></button>
            <span>
              {{ task[2] }}
            </span>
            <button v-on:click="delete_task(task)" class="btn btn-delete"></button>
          </div>

          <div v-else class="task-item btn-group-toggle" data-toggle="buttons">
            <button v-on:click="update_state(task)" class="btn btn-check" id="btn-check"></button>
            <span>
              {{ task[2] }}
            </span>
            <button v-on:click="delete_task(task)" class="btn btn-delete"></button>
          </div>

        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="../static/js/main.js"></script>
  {% endraw %}
{% endblock content %}
